.footer {
    /* position: relative; */
    /* z-index: -10; */
    color: var(--second-text-color);
    /* height: 1000px; */
    background-color: var(--upper-bg-color);
    padding: 0 20px 34px 20px;
}
.footer-titl {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 10;
}
.footer-button {
    position: relative;
    color: var(--first-text-color);
    background-color: var(--second-text-color);
    margin-top: 30px;
    border: 3px solid var(--second-text-color);
}
.footer-button:hover {
    border: 3px solid var(--first-text-color);
    transition: 1s;
}
.buttons {
}
.footer-final-provisions {
    position: relative;
}
.footer-copyright {
}
.footer-policy {
}